## 구별 데이터셋 전처리

In [1]:
import pandas as pd

PATH = '../data/'
df = pd.read_csv(PATH + '2021_생활인구_행정동별 합계.csv')
dfs = pd.read_csv(PATH + '서울_행정동_법정동_맵핑데이터.csv')
df_1 = pd.read_csv(PATH + '2021_거주인구_편집.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424 entries, 0 to 423
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년도       424 non-null    int64
 1   행정동코드    424 non-null    int64
 2   총생활인구수   424 non-null    float64
 3   연령대0     424 non-null    float64
 4   연령대10    424 non-null    float64
 5   연령대20    424 non-null    float64
 6   연령대30    424 non-null    float64
 7   연령대40    424 non-null    float64
 8   연령대50    424 non-null    float64
 9   연령대60    424 non-null    float64
 10  연령대70이상  424 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 36.6 KB

In [3]:
df

,년도,행정동코드,총생활인구수,연령대0,연령대10,연령대20,연령대30,연령대40,연령대50,연령대60,연령대70이상
0,2021,11110515,1.451901e+08,1.005095e+07,1.498163e+07,2.102243e+07,2.213896e+07,2.644282e+07,2.144186e+07,1.301551e+07,1.609593e+07
1,2021,11110530,2.011573e+08,6.812946e+06,9.427644e+06,2.972634e+07,4.364093e+07,4.235412e+07,3.161190e+07,1.875623e+07,1.882717e+07
2,2021,11110540,4.859639e+07,1.361386e+06,3.516363e+06,8.972479e+06,8.899988e+06,8.853890e+06,7.428342e+06,5.117466e+06,4.446477e+06
3,2021,11110550,1.299965e+08,7.186654e+06,1.398859e+07,1.575745e+07,1.604651e+07,2.186106e+07,2.086953e+07,1.625887e+07,1.802780e+07
4,2021,11110560,1.663174e+08,1.095781e+07,1.742068e+07,1.786481e+07,1.854000e+07,2.605009e+07,2.827716e+07,2.315771e+07,2.404912e+07
...,...,...,...,...,...,...,...,...,...,...,...
419,2021,11740650,2.274876e+08,1.460073e+07,1.412860e+07,3.156944e+07,3.965178e+07,3.605632e+07,3.497638e+07,2.932143e+07,2.718293e+07
420,2021,11740660,2.364101e+08,1.348652e+07,2.048090e+07,3.276836e+07,3.697875e+07,3.992611e+07,3.874076e+07,2.875744e+07,2.527127e+07
421,2021,11740685,4.563611e+08,3.219612e+07,3.443599e+07,5.920542e+07,7.057258e+07,7.085694e+07,7.215421e+07,6.173909e+07,5.520079e+07
422,2021,11740690,5.498079e+07,4.221632e+06,7.590162e+06,5.310491e+06,7.110249e+06,8.846025e+06,8.855205e+06,6.682776e+06,6.364247e+06
423,2021,11740700,2.329630e+08,1.717946e+07,2.181420e+07,2.734350e+07,3.322927e+07,3.495869e+07,3.631240e+07,3.049165e+07,3.163379e+07

In [4]:
dfs

    CTPV_NM CTGG_NM LGDNG_NM    LGDNG_CD ADSTRD_NM   ADSTRD_CD
0     서울특별시     종로구      종로구  1111000000       종로구  1111000000
1     서울특별시     종로구      청운동  1111010100     청운효자동  1111051500
2     서울특별시     종로구      신교동  1111010200     청운효자동  1111051500
3     서울특별시     종로구      궁정동  1111010300     청운효자동  1111051500
4     서울특별시     종로구      효자동  1111010400     청운효자동  1111051500
..      ...     ...      ...         ...       ...         ...
761   서울특별시     강동구      성내동  1174010800      성내2동  1174065000
762   서울특별시     강동구      성내동  1174010800      성내3동  1174066000
763   서울특별시     강동구       길동  1174010500        길동  1174068500
764   서울특별시     강동구      둔촌동  1174010600      둔촌1동  1174069000
765   서울특별시     강동구      둔촌동  1174010600      둔촌2동  1174070000

[766 rows x 6 columns]

In [5]:
dfc = dfs[['CTGG_NM','ADSTRD_CD']]

In [6]:
cols = '자치구','행정동코드'
dfc.columns = cols

In [7]:
dfc['행정동코드'] = dfc['행정동코드'].astype(str)
dfc['행정동코드'] = dfc['행정동코드'].str[:-2]

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_28762/1465375253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc['행정동코드'] = dfc['행정동코드'].astype(str)
/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_28762/1465375253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc['행정동코드'] = dfc['행정동코드'].str[:-2]

In [8]:
dfc['행정동코드']

0      11110000
1      11110515
2      11110515
3      11110515
4      11110515
         ...
761    11740650
762    11740660
763    11740685
764    11740690
765    11740700
Name: 행정동코드, Length: 766, dtype: object

In [9]:
df['행정동코드'] = df['행정동코드'].astype(str)

#### 행정동코드 대체(과거)

In [10]:
df['행정동코드'] = df['행정동코드'].replace('11305590', '11305595')
df['행정동코드'] = df['행정동코드'].replace('11305600', '11305603')
df['행정동코드'] = df['행정동코드'].replace('11305606', '11305608')
df['행정동코드'] = df['행정동코드'].replace('11305610', '11305615')
df['행정동코드'] = df['행정동코드'].replace('11305620', '11305625')
df['행정동코드'] = df['행정동코드'].replace('11305630', '11305635')
df['행정동코드'] = df['행정동코드'].replace('11740520', '11740525')

In [11]:
dfc = dfc.drop_duplicates(subset='행정동코드')

### 생활인구(행정동코드, 자치구) 병합, 구별 groupby

In [12]:
merged_df = df.merge(dfc, on = '행정동코드', how = 'left')

In [13]:
merged_df.isna().sum()

년도         0
행정동코드      0
총생활인구수     0
연령대0       0
연령대10      0
연령대20      0
연령대30      0
연령대40      0
연령대50      0
연령대60      0
연령대70이상    0
자치구        0
dtype: int64

In [14]:
grouped_df = merged_df.groupby(['자치구']).mean()

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_28762/1346356578.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = merged_df.groupby(['자치구']).mean()

In [15]:
grouped_df.reset_index(inplace = True)
grouped_df.rename(columns = {'행정동코드':'행정동_코드','총생활인구수':'구별_총생활인구수_평균','연령대0' : '구별_연령대0_생활인구_평균','연령대10' : '구별_연령대10_생활인구_평균','연령대20' : '구별_연령대20_생활인구_평균','연령대30' : '구별_연령대30_생활인구_평균',
                             '연령대40' : '구별_연령대40_생활인구_평균','연령대50' : '구별_연령대50_생활인구_평균','연령대60' : '구별_연령대60_생활인구_평균','연령대70이상' : '구별_연령대70_생활인구_평균'},inplace = True)

In [16]:
grouped_df

,자치구,년도,구별_총생활인구수_평균,구별_연령대0_생활인구_평균,구별_연령대10_생활인구_평균,구별_연령대20_생활인구_평균,구별_연령대30_생활인구_평균,구별_연령대40_생활인구_평균,구별_연령대50_생활인구_평균,구별_연령대60_생활인구_평균,구별_연령대70_생활인구_평균
0,강남구,2021.0,3.130271e+08,1.900747e+07,3.181621e+07,4.805225e+07,6.082722e+07,6.078291e+07,4.112443e+07,2.720595e+07,2.421065e+07
1,강동구,2021.0,2.448251e+08,1.965808e+07,2.432775e+07,2.851612e+07,3.801265e+07,4.051980e+07,3.657613e+07,3.011575e+07,2.709876e+07
2,강북구,2021.0,1.982521e+08,1.254633e+07,1.623441e+07,2.644172e+07,2.528452e+07,2.996376e+07,3.156903e+07,2.515478e+07,3.105756e+07
3,강서구,2021.0,2.359609e+08,1.810796e+07,1.923645e+07,3.290840e+07,4.319739e+07,3.874811e+07,3.230226e+07,2.617567e+07,2.528466e+07
4,관악구,2021.0,1.956418e+08,9.750590e+06,1.307100e+07,4.383306e+07,3.624599e+07,2.812907e+07,2.467960e+07,1.928288e+07,2.064959e+07
5,광진구,2021.0,2.069475e+08,1.281745e+07,1.810854e+07,3.870654e+07,3.463657e+07,3.205712e+07,3.004177e+07,2.141079e+07,1.916871e+07
6,구로구,2021.0,2.233413e+08,1.693335e+07,1.699589e+07,2.958851e+07,3.868026e+07,3.817578e+07,3.348696e+07,2.559133e+07,2.388917e+07
7,금천구,2021.0,1.915444e+08,9.676038e+06,1.104300e+07,3.052550e+07,3.705497e+07,3.274756e+07,3.066836e+07,2.163564e+07,1.819335e+07
8,노원구,2021.0,2.342517e+08,1.807656e+07,2.894234e+07,3.102606e+07,2.847483e+07,3.605016e+07,3.550203e+07,2.720082e+07,2.897888e+07
9,도봉구,2021.0,1.720295e+08,1.191863e+07,1.541823e+07,2.080991e+07,2.223396e+07,2.533827e+07,2.764604e+07,2.338148e+07,2.528293e+07
10,동대문구,2021.0,2.148372e+08,1.276405e+07,1.700600e+07,3.891587e+07,3.200600e+07,3.181444e+07,3.084053e+07,2.451999e+07,2.697026e+07
11,동작구,2021.0,2.204192e+08,1.506800e+07,1.743020e+07,3.932831e+07,3.630465e+07,3.332345e+07,2.990229e+07,2.388630e+07,2.517606e+07
12,마포구,2021.0,2.400530e+08,1.427590e+07,1.874327e+07,4.592323e+07,4.718325e+07,4.194371e+07,3.101851e+07,2.038580e+07,2.057929e+07
13,서대문구,2021.0,2.212601e+08,1.380861e+07,1.866073e+07,3.976789e+07,3.599302e+07,3.527967e+07,3.167188e+07,2.212501e+07,2.395328e+07
14,서초구,2021.0,2.704439e+08,1.909913e+07,2.487167e+07,3.748781e+07,4.844082e+07,5.222533e+07,3.859175e+07,2.606881e+07,2.365859e+07
15,성동구,2021.0,1.752547e+08,1.162045e+07,1.236913e+07,2.907283e+07,3.244301e+07,2.906395e+07,2.540377e+07,1.804728e+07,1.723432e+07
16,성북구,2021.0,1.821572e+08,1.391475e+07,1.879317e+07,2.936739e+07,2.498018e+07,2.777707e+07,2.587841e+07,1.951097e+07,2.193525e+07
17,송파구,2021.0,2.385040e+08,1.924640e+07,2.262134e+07,3.152949e+07,4.173797e+07,4.073124e+07,3.461533e+07,2.627280e+07,2.174944e+07
18,양천구,2021.0,1.869709e+08,1.622724e+07,2.529448e+07,2.105368e+07,2.495004e+07,3.214097e+07,2.773882e+07,2.038048e+07,1.918524e+07
19,영등포구,2021.0,2.229844e+08,1.267515e+07,1.336978e+07,3.447823e+07,4.668250e+07,3.954341e+07,3.319260e+07,2.269444e+07,2.034829e+07
20,용산구,2021.0,1.525038e+08,7.640447e+06,9.823746e+06,2.442997e+07,3.106598e+07,2.744780e+07,2.205373e+07,1.511733e+07,1.492480e+07
21,은평구,2021.0,2.382617e+08,1.751853e+07,2.279061e+07,3.000807e+07,3.569814e+07,3.814064e+07,3.556262e+07,2.777800e+07,3.076512e+07
22,종로구,2021.0,1.374293e+08,5.116995e+06,9.294571e+06,2.354633e+07,2.297470e+07,2.404167e+07,2.234335e+07,1.517886e+07,1.493279e+07
23,중구,2021.0,1.424513e+08,4.577113e+06,5.676730e+06,2.328010e+07,3.053553e+07,2.799595e+07,2.299447e+07,1.477394e+07,1.261744e+07
24,중랑구,2021.0,1.924120e+08,1.349590e+07,1.482436e+07,2.521075e+07,2.887923e+07,2.879421e+07,3.189718e+07,2.474530e+07,2.456509e+07

In [ ]:
grouped_df.to_csv(PATH + '2021_생활인구_구별_집계.csv', index = False, encoding = 'utf-8-sig')

### 거주인구(행정동코드, 자치구) 병합,구별 groupby

In [17]:
df_mean = df_1.groupby(['행정동코드']).mean()

In [18]:
df_mean.reset_index()

,행정동코드,연도,월,연령대_100_거주인구수,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
0,11110515,2021.0,6.818182,8.272727,772.181818,1149.181818,1574.545455,1607.454545,2113.363636,1927.545455,1390.545455,948.454545,523.636364,73.181818
1,11110530,2021.0,6.818182,6.727273,561.636364,676.272727,1226.181818,1456.363636,1471.454545,1527.727273,1208.636364,729.909091,466.000000,85.454545
2,11110540,2021.0,6.818182,5.636364,102.909091,179.727273,316.727273,323.363636,353.181818,391.272727,409.545455,254.000000,143.818182,27.636364
3,11110550,2021.0,6.818182,5.727273,519.363636,881.909091,1275.363636,1212.363636,1592.727273,1685.545455,1329.272727,763.818182,385.545455,74.636364
4,11110560,2021.0,6.818182,10.454545,1153.909091,1602.454545,2398.363636,2205.727273,2701.636364,3254.272727,2618.727273,1331.545455,779.000000,160.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,2021.0,6.818182,10.909091,1046.454545,1156.181818,3876.636364,4267.181818,3351.181818,3774.000000,3723.909091,1895.818182,706.181818,80.727273
420,11740660,2021.0,6.818182,7.363636,1220.272727,1738.000000,3622.909091,3492.272727,3564.090909,3974.090909,3332.181818,1703.818182,569.727273,82.090909
421,11740685,2021.0,6.818182,13.272727,2414.272727,2877.818182,7074.181818,7474.727273,6805.636364,7350.000000,7229.454545,3385.090909,1149.272727,189.818182
422,11740690,2021.0,6.818182,2.272727,3.000000,6.272727,16.636364,14.545455,28.818182,20.727273,35.272727,16.454545,6.000000,4.363636
423,11740700,2021.0,6.818182,12.454545,1703.363636,2064.909091,3450.818182,3650.727273,3721.363636,4145.272727,3769.363636,1721.727273,631.818182,116.727273

In [19]:
df_mean.drop(columns=['연도','월'], inplace=True)

In [20]:
df_mean.reset_index(inplace = True)

In [21]:
df_mean

,행정동코드,연령대_100_거주인구수,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
0,11110515,8.272727,772.181818,1149.181818,1574.545455,1607.454545,2113.363636,1927.545455,1390.545455,948.454545,523.636364,73.181818
1,11110530,6.727273,561.636364,676.272727,1226.181818,1456.363636,1471.454545,1527.727273,1208.636364,729.909091,466.000000,85.454545
2,11110540,5.636364,102.909091,179.727273,316.727273,323.363636,353.181818,391.272727,409.545455,254.000000,143.818182,27.636364
3,11110550,5.727273,519.363636,881.909091,1275.363636,1212.363636,1592.727273,1685.545455,1329.272727,763.818182,385.545455,74.636364
4,11110560,10.454545,1153.909091,1602.454545,2398.363636,2205.727273,2701.636364,3254.272727,2618.727273,1331.545455,779.000000,160.727273
...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,10.909091,1046.454545,1156.181818,3876.636364,4267.181818,3351.181818,3774.000000,3723.909091,1895.818182,706.181818,80.727273
420,11740660,7.363636,1220.272727,1738.000000,3622.909091,3492.272727,3564.090909,3974.090909,3332.181818,1703.818182,569.727273,82.090909
421,11740685,13.272727,2414.272727,2877.818182,7074.181818,7474.727273,6805.636364,7350.000000,7229.454545,3385.090909,1149.272727,189.818182
422,11740690,2.272727,3.000000,6.272727,16.636364,14.545455,28.818182,20.727273,35.272727,16.454545,6.000000,4.363636
423,11740700,12.454545,1703.363636,2064.909091,3450.818182,3650.727273,3721.363636,4145.272727,3769.363636,1721.727273,631.818182,116.727273

In [22]:
df_mean['행정동코드'] = df_mean['행정동코드'].replace({
    '11305590': '11305595',
    '11305600': '11305603',
    '11305606': '11305608',
    '11305610': '11305615',
    '11305620': '11305625',
    '11305630': '11305635',
    '11740520': '11740525'
})

In [23]:
dfc

     자치구     행정동코드
0    종로구  11110000
1    종로구  11110515
11   종로구  11110530
23   종로구  11110540
30   종로구  11110550
..   ...       ...
761  강동구  11740650
762  강동구  11740660
763  강동구  11740685
764  강동구  11740690
765  강동구  11740700

[451 rows x 2 columns]

In [24]:
df_mean['행정동코드'] = df_mean['행정동코드'].astype(str)

In [25]:
df_66 = pd.merge( dfc, df_mean, on = '행정동코드', how = 'right')

In [26]:
df_66[df_66.isnull().any(axis=1)]

,자치구,행정동코드,연령대_100_거주인구수,연령대_0_거주인구수,연령대_10_거주인구수,연령대_20_거주인구수,연령대_30_거주인구수,연령대_40_거주인구수,연령대_50_거주인구수,연령대_60_거주인구수,연령대_70_거주인구수,연령대_80_거주인구수,연령대_90_거주인구수
407,NaN,11740520,4.2,4842.8,3792.6,3878.6,5863.8,6850.0,5219.2,4551.8,1610.8,456.6,94.6

In [27]:
df_66.loc[df_66['행정동코드'] == '11740525', '행정동'] = '상일1동'

In [28]:
df = df_66.groupby(['자치구']).mean()

/var/folders/nz/vk3v33x95bs4kf3ymy0z0my00000gn/T/ipykernel_28762/1928693917.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = df_66.groupby(['자치구']).mean()

In [29]:
df.reset_index(inplace = True)

In [30]:
# 열 이름 변경을 위한 딕셔너리 생성
column_mapping = {
    '연령대_0_거주인구수': '구별_연령대0_거주인구_평균',
    '연령대_10_거주인구수': '구별_연령대10_거주인구_평균',
    '연령대_20_거주인구수': '구별_연령대20_거주인구_평균',
    '연령대_30_거주인구수': '구별_연령대30_거주인구_평균',
    '연령대_40_거주인구수': '구별_연령대40_거주인구_평균',
    '연령대_50_거주인구수': '구별_연령대50_거주인구_평균',
    '연령대_60_거주인구수': '구별_연령대60_거주인구_평균',
    '연령대_70_거주인구수': '구별_연령대70_거주인구_평균',
    '연령대_80_거주인구수': '구별_연령대80_거주인구_평균',
    '연령대_90_거주인구수': '구별_연령대90_거주인구_평균'
}

# 열 이름 변경
df.rename(columns=column_mapping, inplace=True)

In [ ]:
df.to_csv(PATH + '2021_구별_거주인구수.csv', index = False, encoding = 'utf-8-sig')